.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: calc(var(--default-margin) * 2);
}

.codeContainer {
  display: block;
  overflow: auto;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--default-border-color);
  padding: var(--default-padding);
}

.lineContainer {
  height: 2.7vh;
}

.lineContainer:hover {
  background-color: rgba(var(--primary-color-rgb), 0.15);
  box-shadow: inset 2px 0 0 rgba(var(--primary-color-rgb), 0.4);
  cursor: pointer;
}

.lineContainerSelected {
  background-color: rgba(var(--primary-color-rgb), 0.15);
  box-shadow: inset 2px 0 0 rgba(var(--primary-color-rgb), 0.4);
}

.lineNumber {
  width: 30px;
  text-align: right;
  color: var(--default-border-color);
  font-size: small;
  padding-right: 5px;
}

.lineContent {
  max-width: 45vw;
  font-size: small;
  padding-left: 7px;
  white-space: pre;
  overflow: auto;
}
