.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  padding: var(--default-padding);
  margin: var(--default-margin);
}

.containerHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerHeaderActions > :not(:last-child) {
  margin-right: var(--default-margin);
}

.resource {
  width: 100%;
}

.resource:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
