.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  padding: 20px;
}

.avatarContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50px;
  margin-right: 15px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
}
