.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 90vh;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--default-border-color);
  overflow: auto;
  padding: var(--default-padding);
  margin: 0 calc(var(--default-margin) * 2);
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: calc(var(--default-padding) * 2);
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.messagesContainer > :last-child {
  scroll-snap-align: start;
}

.inputContainer {
  width: 100%;
  padding: var(--default-padding);
}

.messageContainer {
  display: flex;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  width: 75%;
  border: none;
  background-color: rgba(var(--default-background-color), 0.5);
  margin: calc(var(--default-margin) * 2);
  padding: calc(var(--default-padding) * 2);
  border-radius: calc(var(--default-border-radius) * 2);
  white-space: pre-wrap;
  overflow: auto;
  border-right: solid calc(var(--default-padding) * 2) rgba(0, 0, 0, 0);
}

.messageFrom {
  font-size: small;
  opacity: 0.5;
  margin-bottom: calc(var(--default-margin) * 2);
}

.messageCodeLink {
  margin-top: calc(var(--default-margin) * 2);
  font-size: small;
  font-weight: bold;
}
