@import "@material-design-icons/font/outlined.css";

:root {
  /* Color palette */
  --primary-color: #7f5af0;
  --default-background-color: #16161a;
  --default-border-color: #8b949e;
  /* Spacing */
  --default-margin: 5px;
  --default-padding: 5px;
  /* Misc */
  --default-border-radius: 10px;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;
}

/* Hide scrollbar IE and Edge */
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus {
  outline-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #16161a;
  }
}

.material-icons-outlined:hover {
  cursor: pointer;
  color: var(--default-border-color);
}

.no-action {
  pointer-events: none;
}
