.container {
  width: 40%;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--default-border-color);
  overflow: auto;
  padding: var(--default-padding);
}

.lineContainer {
  height: 2.7vh;
}

.lineContainer:hover {
  background-color: rgba(187, 128, 9, 0.15);
  box-shadow: inset 2px 0 0 rgba(187, 128, 9, 0.4);
}

.lineNumber {
  width: 30px;
  text-align: right;
  color: var(--default-border-color);
  font-size: small;
  padding-right: 5px;
}

.lineContent {
  max-width: 45vw;
  font-size: small;
  padding-left: 7px;
  white-space: pre;
  overflow: auto;
}
